  <table id="signal_table" class="table table-bordered col-md-12">
    <tr class="info">
        <th colspan="5">シグナル</th>
        <th colspan="2">メッセージレイアウト(ビット)</th>
    </tr>
    <tr class="info">
        <th>シグナル名</th>
        <th>単位</th>
        <th>説明</th>
        <th>型</th>
        <th>初期値</th>
        <th>オフセット</th>
        <th>サイズ</th>
    </tr>

    <%= message_form.fields_for :com_signals do |s| %>
      <tr>
        <td class="col-md-1"><%= s.text_field :name, class: 'form-control'%></td>
        <td class="col-md-1"><%= s.text_field :unit, class: 'form-control' %></td>
        <td class="col-md-2"><%= s.text_field :description, class: 'form-control' %></td>
        <td class="col-md-1"><%= s.select :data_type, ComSignal.data_types_i18n.invert, { :selected => s.object&.data_type }, class: 'form-control'%></td>
        <td class="col-md-2"><%= s.text_field :initial_value, class: 'form-control' %></td>
        <td class="col-md-1"><%= s.select :bit_offset, 0..63, { :selected => s.object&.bit_offset.to_i }, class: 'form-control'%></td>
        <td class="col-md-1"><%= s.select :bit_size,   1..64,   { :selected => s.object&.bit_size.to_i }, class: 'form-control'%></td>
        <td class="col-md-1">
          <%= link_to image_tag("delete_images.png", alt: "Delete"), del_signal_message_path(@message, com_signal_id: s.object&.id), method: :delete, data: { confirm: "You sure?" }  %>
          <%= link_to "delete", del_signal_message_path(@message, com_signal_id: s.object&.id), method: :delete, data: { confirm: "You sure?" } %>
        </td>
      </tr>
    <% end %>
</table>
