<% provide(:title, "Message Design") %>
<h1><%= @message.name %></h1>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= render 'shared/error_messages', object: @message %>
  </div>
</div>

<div class="row">
  <%= form_for(@message) do |f| %>
    <div class="col-md-4 col-md-offset-2">
        <%= f.label :data_frame, 'データフレーム' %>
        <%= f.select :data_frame, Message.data_frames_i18n.invert,  { :selected => @message.data_frame }, class: 'form-control'%>

        <%= f.label :canid, 'ID' %>
        <%= f.text_field :canid, value: "0x#{@message.canid.to_s(16)}", class: 'form-control'%>

        <%= f.label :txrx, '送受信' %>
        <%= f.select :txrx, {"送信"=>0,"受信"=>1},  { :selected => @message.txrx.to_i }, class: 'form-control'%>

        <%= f.label :bytesize, 'Byte Size' %>
        <%= f.select :bytesize, 1..8, { :selected => @message.bytesize.to_i }, class: 'form-control' %>

        <label>エンディアン（プロジェクト設定）</label>
        <input value="<%= byte_order_of @message %>" class="form-control" readonly="readonly" type="text" id="message_byte_order"/>

        <%= f.label :baudrate, 'Baud Rate(未対応)' %>
        <%= f.select :baudrate, {"125kbps"=>0,"250kbps"=>1,"500kbps"=>2,"1Mbps"=>3}, { :selected => @message.baudrate.to_i }, class: 'form-control', disabled:true%>
    </div>
    <div class="col-md-6">
    <%= render 'bit_layout_view', message: @message %>
    </div>
    <div>
      <%= render 'signal_table', message_form: f %>
      <%= link_to "＋", add_signal_path(@message), method: :put, class:"btn btn-success  btn-xs" %>
      <%= link_to '新規シグナル', add_signal_path(@message), method: :put %>
    </div>
    <div class="col-md-2 col-md-offset-3">
        <%= f.submit "Edit message", class: "btn btn-primary　col-md-1" %>
        <%= link_to 'Back', messages_path %>
    </div>
  <% end %>
</div>

<script>
window.from_rails = <%= raw to_js(@message) %>;
window.onload = initBitLayoutTable();
</script>
