<% provide(:title, "Message Create") %>
<h1>メッセージ作成</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <%= form_for([@project, @message]) do |f| %>
        <%= render 'shared/error_messages', object: @message %>

        <%= f.label :name, 'メッセージ名称' %>
        <%= f.text_field :name, class: 'form-control'%>

        <%= f.label :duplicate_source, '複製元' %>
        <%= f.select :duplicate_source, {"送信 1byte"=>0,"受信 1byte"=>1}, {selected:0}, class: 'form-control'%>

        <%= f.hidden_field :project_id, value: @project.id %>

        <%= f.submit "作成", class: "btn btn-primary col-md-4", style: "margin-top:20px;" %>
    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-3" style="margin-top:10px;">
    <%= link_to 'Back', project_messages_path(@project) %>
  </div>
</div>
