<h1>ＤＢ管理</h1>
<table style ='margin-top: 15px;'>
<tr>
  <td class="database_manage_table" width="200">
<%= @database_manage.created_at.strftime('%Y年%m月%d日 %H:%M:%S') %>
</td>
<td width="100">
<%= link_to "復元（未実装）", {controller: 'database_manages', action: 'restore', project_id: @database_manage.project_id}, {method: :get, class: "btn btn-default"} %></li>
</td>
</tr>
</table>

<div class="container">
  <ul class="list-inline pull-right">
    <li>符号ＤＢエクスポート：</li>
    <li>プロジェクト</li>
    <li><%= link_to "CSV", {controller: 'database_manages', action: 'sign_csvexport', project_id: @database_manage.project_id}, {method: :get, class: "none"} %></li>
    <li>|</li>
    <li>全レコード</li>
    <li><%= link_to "CSV", {controller: 'database_manages', action: 'sign_csvexport', project_id: @database_manage.project_id, all:'all'}, {method: :get, class: "none"} %></li>
    <li><%= link_to "バイナリ", {controller: 'database_manages', action: 'sign_binexport',  project_id: @database_manage.project_id}, {method: :get, class: "none"} %></li>
  </ul>
</div>
<div class="container">
  <ul class="list-inline pull-right">
    <li>コンフィグＤＢエクスポート：</li>
    <li>プロジェクト</li>
    <li><%= link_to "CSV",    {controller: 'database_manages', action: 'config_csvexport', params: {project_id: @database_manage.project_id}}, {method: :get, class: "none"} %></li>
    <li>|</li>
    <li>全レコード</li>
    <li><%= link_to "CSV",    {controller: 'database_manages', action: 'config_csvexport', params:{project_id: @database_manage.project_id, all:'all'}}, {method: :get, class: "none"} %></li>
    <li><%= link_to "バイナリ", {controller: 'database_manages', action: 'config_binexport', params:{project_id: @database_manage.project_id}}, {method: :get, class: "none"} %></li>
  </ul>
</div>
