<h1>プロジェクト作成</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <%= form_for(@project) do |f| %>
      <%= render 'shared/error_messages', object: @project %>

      <%= f.label :name %><br>
      <%= f.text_field :name %>

      <!-- TODO:delete 中間リリース用暫定処理 (タスク #579) -->
      <%= f.label :duplicate_source, '複製元' %>
      <%= f.select :duplicate_source, {
        "project 1(RPort:1,PPort:1)"=>1,
        "project 2(RPort:2,PPort:2)"=>2,
        "project 3(RPort:4,PPort:4)"=>4,
        }, 
        class: 'form-control'%>

      <%= f.label :qines_version_number %><br>
      <%= text_field :qines_version_number, :name, readonly: true %>

      <%= f.label :protocol_number %><br>
      <%= text_field :communication_protocol, :name, readonly: true %>

      <%= f.submit "作成", class: "btn btn-primary col-md-4", style: "margin-top:20px;"  %>

    <% end %>
  </div>
  <div class="col-md-4 col-md-offset-3" style="margin-top:10px;">
    <%= link_to 'Back', messages_path %>
  </div>
</div>
