<%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/js-yaml/3.8.4/js-yaml.js' %>
<script>
  $(document).ready(function(){
    editor = ace.edit("ace-editor");
    editor.getSession().setMode("ace/mode/yaml");
    editor.setValue($('#param').val(), -1);
    preview();

    $(window).keydown(function(e){
      if (event.ctrlKey) {
        if (e.keyCode == 83) {
          preview();
          return(false);
        }
      }
    });

    $('form').submit(function(){
      editor = ace.edit("ace-editor");
      $('#param').val(editor.getValue);
      return(true);
    });
  });
</script>
<div class="row">
  <%= form_for @mode do |f| %>
    <div class="col-sm-6">
        <%= f.label :param, 'モード記述' %>
        <div id="ace-editor" style="height: 550px; margin-bottom: 20px;"></div>
        <%= f.hidden_field :param, id: :param, value: @mode.param %>
        <div class="row">
          <%= f.submit "Edit", class: "btn btn-primary col-sm-5 col-sm-offset-1" %>
          <%= button_tag 'プレビュー', type: :button, onclick: 'preview()', class: "btn col-sm-5 col-sm-offset-1" %>
        </div>
    </div>
  <% end %>
  <div class="col-sm-6">
    <div id="mynetwork" style="height: 580px"></div>
  </div>
</div>
