<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Q-Ape tools", home_index_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   home_index_path %></li>
        <li><%= link_to "Help",   '#' %></li>
        <li><%= link_to "Sign in", '#' %></li>
      </ul>
    </nav>
  </div>
  <div>
      <ul class="menu">
          <% if signed_in? %>
          <li style="width:19%"><%= link_to 'ユーザ一覧', users_path %></li>
          <li style="width:19%"><%= link_to "Home",   home_index_path %></li>
          <li style="width:19%"><%= link_to 'プロフィール', current_user %></li>
          <li style="width:19%"><%= link_to 'ログアウト', signout_path, method: :delete %></li>
          <li style="width:19%"><%= link_to "Help",   '#' %></li>
          <% else %>
          <li style="width:24%"><%= link_to 'ユーザ一覧', users_path %></li>
          <li style="width:24%"><%= link_to 'ログイン', signin_path %></li>
          <li style="width:24%"><%= link_to 'アカウント作成', signup_path %></li>
          <li style="width:24%"><%= link_to "Help",   '#' %></li>
          <% end %>
      </ul>
  </div>

</header>
